openapi: 3.0.1
info:
  title: Teams Call Records API
  description: Retrieve Microsoft Teams call records within a specific time range using Microsoft Graph.
  version: "1.0.0"

servers:
  - url: https://graph.microsoft.com/v1.0

paths:
  /communications/callRecords?$filter=startDateTime ge {startDateTime} and startDateTime lt {endDateTime}
    get:
      summary: Get Teams call records within a time range
      description: Retrieves call records filtered by startDateTime range.
      operationId: getCallRecords
      parameters:
        - name: startDateTimeFrom
          in: query
          description: Start of time range (UTC) - format YYYY-MM-DDTHH:MM:SSZ
          required: true
          schema:
            type: string
            format: date-time
        - name: startDateTimeTo
          in: query
          description: End of time range (UTC) - format YYYY-MM-DDTHH:MM:SSZ
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response with call records
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        startDateTime:
                          type: string
                          format: date-time
                        endDateTime:
                          type: string
                          format: date-time
                        organizer:
                          type: object
                          properties:
                            user:
                              type: object
                              properties:
                                id:
                                  type: string
                                displayName:
                                  type: string
                                userPrincipalName:
                                  type: string
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

components:
  securitySchemes:
    oauth2Auth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenant-id}/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Access Microsoft Graph

security:
  - oauth2Auth: []
