openapi: 3.0.1
info:
  title: Teams Call Records API
  description: Retrieve Microsoft Teams call records from Microsoft Graph using OData filter on startDateTime.
  version: "1.0.0"

servers:
  - url: https://graph.microsoft.com/v1.0

paths:
  /communications/callRecords:
    get:
      summary: Get Teams call records within a time range
      description: |
        Retrieves Microsoft Teams call records using OData $filter on startDateTime.

        IMPORTANT:
        The filter must be provided in the following format:
        startDateTime ge YYYY-MM-DDTHH:MM:SSZ and startDateTime lt YYYY-MM-DDTHH:MM:SSZ

        Example:
        startDateTime ge 2026-03-24T10:30:00Z and startDateTime lt 2026-03-24T11:00:00Z

      operationId: getCallRecords

      parameters:
        - name: $filter
          in: query
          required: true
          description: OData filter string for filtering call records by time range
          schema:
            type: string
            example: startDateTime ge 2026-03-24T10:30:00Z and startDateTime lt 2026-03-24T11:00:00Z

      responses:
        '200':
          description: Successful response with call records
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        startDateTime:
                          type: string
                          format: date-time
                        endDateTime:
                          type: string
                          format: date-time
                        organizer:
                          type: object
                          properties:
                            user:
                              type: object
                              properties:
                                id:
                                  type: string
                                displayName:
                                  type: string
                                userPrincipalName:
                                  type: string

        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

components:
  securitySchemes:
    oauth2Auth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenant-id}/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Access Microsoft Graph

security:
  - oauth2Auth: []
