openapi: 3.0.1
info:
  title: Teams Online Meetings API
  description: Retrieve Microsoft Teams online meetings using JoinWebUrl filter.
  version: "1.0.0"

servers:
  - url: https://graph.microsoft.com/v1.0

paths:
  /users/{userId}/onlineMeetings:
    get:
      summary: Get Teams meeting by JoinWebUrl
      description: Retrieves online meeting details for a user using JoinWebUrl filter.
      operationId: getOnlineMeetingByJoinUrl
      parameters:
        - name: userId
          in: path
          description: User ID (Organizer ID)
          required: true
          schema:
            type: string

        - name: joinWebUrl
          in: query
          description: Full Teams JoinWebUrl of the meeting
          required: true
          schema:
            type: string

      responses:
        '200':
          description: Successful response with meeting details
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        subject:
                          type: string
                        joinWebUrl:
                          type: string
                        startDateTime:
                          type: string
                          format: date-time
                        endDateTime:
                          type: string
                          format: date-time
                        organizer:
                          type: object
                          properties:
                            identity:
                              type: object
                              properties:
                                user:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    displayName:
                                      type: string
                                    userPrincipalName:
                                      type: string

        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

components:
  securitySchemes:
    oauth2Auth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenant-id}/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Access Microsoft Graph

security:
  - oauth2Auth: []