openapi: 3.0.1
info:
  title: Add Sentinel Incident Comment API
  version: 1.0.0
  description: API to add or update comments on a Microsoft Sentinel incident.

servers:
  - url: https://management.azure.com

paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/comments/{commentId}:
    put:
      summary: Add or update a comment on a Sentinel incident
      operationId: AddSentinelIncidentComment

      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string

        - name: resourceGroup
          in: path
          required: true
          schema:
            type: string

        - name: workspaceName
          in: path
          required: true
          schema:
            type: string

        - name: incidentId
          in: path
          required: true
          schema:
            type: string

        - name: commentId
          in: path
          required: true
          description: GUID for the comment resource
          schema:
            type: string

        - name: api-version
          in: query
          required: true
          schema:
            type: string
            enum:
              - "2025-07-01-preview"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object

              
              properties:
                message:
                  type: string
                  description: "Comment text to add to the incident."
                objectId:
                  type: string
                  description: "Object ID of the user or app posting the comment."

                
                properties:
                  type: object
                  writeOnly: true
                  properties:
                    message:
                      type: string
                    author:
                      type: object
                      properties:
                        objectId:
                          type: string

              required:
                - message
                - objectId

              x-ms-client-name: SentinelCommentBody

      responses:
        "200":
          description: Comment created or updated successfully
        "201":
          description: Comment created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error

      security:
        - azure_auth:
            - https://management.azure.com/.default

components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access ARM API
